.projectContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.projectItem {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--smoothTrans);
}
.projectItem:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projectItem-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.projectItem h3{
    margin: 1.2rem 0rem 2rem;
}
.projectItem-btn{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* other devices (tablets) */

@media screen and (max-width: 1024px) {
    .projectContainer{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }
  
  /* other devices (phones) */
  
  @media screen and (max-width: 600px) {
    .projectContainer{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  }

  /*additional media query to fix clipping at 340 pixels*/
@media screen and (max-width: 340px) {
    .experienceContainer{
        gap: 1rem;
}
    #projects{
        margin-top: 29rem;
    }
}
