@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@300&family=Staatliches&display=swap');
body {
  background: var(--color-bg);
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  line-height: 1.7;;
  background-image: url(../src/Assets/Images/texas.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: lightgreen;
  --color-primary-variant: #4d94ff;
  --color-white: #fff;
  --color-light:	#808080;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}